/* ERROR BOX */
.error-container {
  display         : none;
  margin-top      : 10px;
  color           : #92140c;
  background-color: #f1f2ee;
  border-radius   : 5px;
  border-style    : solid;
  font-size       : large;
}

/* ERROR MESSAGE ICON */ 
.error-container .error{
  margin: 0.5em
}

