/* HEADER styling - contains avatar and name */
header.profile-header {
  width           : 100vw;
  height          : 520px;
  padding-top     : 120px;
  padding-bottom  : 120px;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.name {
  display         : flex;
  justify-content : center;
  align-items     : flex-start;
  color           : white;
}

.name > h2 {
  margin: 0;
}

/* DESKTOP MODE */
@media only screen and (min-width: 1024px) {
  header.profile-header {
    margin        : 0;
    padding-top   : 0;
    padding-bottom: 0;
  }
}
