.new-tweet{
  display: none;
  width: 100%;
}

.new-tweet > form {
  display:flex; 
  flex-direction: column;
}

textarea {
  overflow: auto;
  background-color: #f4f7f5;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  border: none;
  border-bottom-style: solid;
}

textarea:focus {
  outline: none;
}

#buttonAndCounter {
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

#buttonAndCounter button {
  width:120px;
}

button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: white;
  border: none;
}

output {
  font-family: 'Bungee';
}

.tweetTooLong {
  color: red;
}

