article.tweet {
  border-style: solid;
  margin-top:1em;
  margin-bottom: 1em;
  margin-left: 5vw;
  margin-right: 5vw;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  margin: 1em;

  justify-content: space-between;
}

article.tweet header #face-name {
  display: flex;
  flex-direction: row;
}

article.tweet header #face-name img {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;

  height: 60px;
  width: auto;
}

article.tweet > p {
  border-bottom-style: solid ;
  margin: 1em;
  overflow-wrap: anywhere;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  margin: 1em;

  justify-content: space-between;
}

article.tweet footer p {
  margin: 0;
}

article.tweet footer #icons {
  margin: 0;
  color: #48a9a6;

  font-size: 20px;
}

article.tweet .hide {
  display: none;
}

article.tweet:hover {
  box-shadow: 10px 10px #48A9A6;
}

article.tweet:hover .hide {
  display: block;
  color: #48a9a6;
}

@media only screen and (min-width: 1024px) {
  article.tweet {
    width: 50vw;
  }
}