article.tweet {
  border-style: solid;
}

article.tweet header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

article.tweet header #face-name {
  display: flex;
  flex-direction: row;
}

article.tweet > p {
  border-bottom-style: solid ;
}

article.tweet footer {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

