article.tweet {
  border-style: solid;
  margin-top:0.5em;
  margin-bottom: 0.5em;

}

article.tweet header {
  display: flex;
  flex-direction: row;
  margin: 1em;

  justify-content: space-between;
}

article.tweet header #face-name {
  display: flex;
  flex-direction: row;
}

article.tweet header #face-name img {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em
}

article.tweet > p {
  border-bottom-style: solid ;
  margin: 1em;
  overflow-wrap: anywhere;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  margin: 1em;

  justify-content: space-between;
}

article.tweet footer p {
  margin: 0;
}

article.tweet footer #icons {
  margin: 0;
  color: purple;
}

article.tweet .hide {
  display: none;
}

article.tweet:hover {
  box-shadow: 5px 5px 5px purple;
}

article.tweet:hover .hide {
  display: block;
  color: purple;
}
